<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./stylesheets/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>read</title>
  </head>
  <body class="bg-zinc-900">
    <div class="w-full h-full bg-zinc-900 text-white p-4">
      <a href="/" class="text-blue-500">Home</a>
      <h1 class="text-3xl tracking-tighter mb-3 mt-3">All Users</h1>
      <div class="users flex flex-wrap gap-6">
        <% data.forEach(function(user){ %>
        <div class="user w-full sm:w-72 p-4 bg-zinc-800 rounded-lg mb-6">
          <img src="<%= user.image %>" class="w-full rounded-lg bg-blue-300" />
          <h3 class="text-xl tracking-tighter text-orange-500 mt-3">
            <%= user.name %>
          </h3>
          <h5 class="text-zinc-500"><%= user.email %></h5>
          <div class="flex justify-between gap-3 mt-3">
            <a href="" class="text-green-500">✏️Edit User</a>
            <a href="/delete/<%= user._id%>" class="text-red-500"
              >❌Delete User</a
            >
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
