<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./stylesheets/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>read</title>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 text-white p-10">
      <h1 class="text-3xl tracking-tighter mb-3">All User</h1>
      <div class="users">
        <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-blue-300"></div>
          <h3 class="text-xl tracking-tighter text-orange-500 mt-3">Kartik mehta</h3>
          <h5 class="text-zinc-500">kartikmehta650@gmail.com</h5>
          <div class="flex justify-between gap-3">
            <a href="">✏️Edit User</a>
            <a href="">❌delete User</a>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
